*{
    box-sizing: border-box;
    font-family: 'Poppins';
}

html{
    scroll-behavior: smooth;
}

body{
    margin: 0;
}

h1{
    font-size: 2.2em;
}

#formingreso h2{
    color: rgb(40, 40, 225);
}


.check-toggle{
    display: none;
}

.toggle-bg{
    display: block;
    width: 35px;
    height: 23px;
    background-color: rgb(221, 221, 221);
    border-radius: 20px;
    position: relative;
    cursor: pointer;
    transition: 0.2s;
}

.toggle-bg::after{
    position: absolute;
    content: '';
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: rgb(255, 255, 255);
    top: 4px;
    left: 4px;
    transition: 0.1s;
}

.check-toggle:checked~.toggle-bg{
    background-color: rgb(40, 40, 225);
}

.check-toggle:checked~.toggle-bg::after{
    left: 16px;
}



.error{
    background-color:red;
    color: white;
    padding: 7px;
    border-radius: 10px;
    display: none;
    margin:10px 0px;

}

.error.activo{
    display: block;
}

#gracias{
    display: none;
}

#gracias.showed{
    display: block;
}

button{
    padding: 0.7em;
    background-color:rgb(40, 40, 225);
    color: white;
    border-radius: 10px;
    font-weight: 525;
    border: 1px solid rgba(0,0,0,0.5);
    box-shadow: 2px 2px 10px rgba(0,0,0,0.5);
}

button:hover{
    background-color: rgb(30, 30, 172);
}

header{
    display: flex;
    justify-content: space-between;
    background-color: rgb(65, 65, 210);
    height: 70px;
    width: 100%;
    color: white;
    box-shadow: 15px;
    position: fixed;
    top: 0px;
    z-index: 1000;
}

.banner{
    width: 300px;
     padding: 10px;
     font-size: 1.7em;
     display: flex;
     align-items: center;
     justify-content: center;
 }

#menu{
    position: absolute;
    top: 70px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    padding: 30px;
    width: 100vw;
    opacity: 0;
    box-shadow: 2px 2px 7px rgba(0,0,0,0.5);
    transition: 0.5s;
    pointer-events: none;
    
}

.btn-menu{
    color: white;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px 20px;
    cursor: pointer;
}

#menu.active{
    pointer-events: unset;
    opacity: 1;
    transition: 0.5s;
}

.banner{
    padding: 0px 20px;
}

.link{
    color: rgb(40, 40, 225);
    text-decoration: none;
    margin: 0px 20px;

}

.fa-regular.fa-x{
    display: none;
    font-size: 20px;
}

.fa-regular.fa-x.enabled{
    display: block;
}
.fa-solid.fa-bars.disabled{
    display: none;
}

body{
    background-color: rgb(241, 241, 241);
}

#lorem{
    background-image: linear-gradient(0deg, rgba(0,0,0,0.5), rgba(0,0,0,0.5)) ,url(../Img/loremcotizaya.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: calc(50vh - 70px);
    padding: .2em 1em ;
    color: white;
    margin-top: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}


#formingreso{   
    background-color: rgb(241, 241, 241);
}

form{
    display: grid;
    gap: 20px;
}

.inputcontainer,.containerparte2{
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.5);
    padding: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: white;
    gap: 10px;
    width: 95%;
    margin: auto;


}

.containerparte2{
    margin-bottom: 20px;
}

.card i{
    font-size: 2em;
    color: rgb(40, 40, 225);
}

.inputs-container{
    display: grid;
    grid-template-columns: auto;
    gap: 20px;
    width: 80%;
}

@media (min-width:768px){
    .inputs-container{
        grid-template-columns: auto auto;
        width: 80%;
    }
}

@media (min-width:1024px){
    .inputs-container{
        width: 70%;
        gap: 20px 40px;
    }


}

@media (min-width:1440px){
    .inputs-container{
        width: 60%;
    }
}

.inputcontainer .input{
    position: relative;
    width: 100%;
}

.inputcontainer .input input{
    border: 2px solid rgba(0,0,0,0.3);
    border-radius: 10px;
    font-size: 0.8em;
    outline: none;
    padding: 8px 8px;
    width: 100%;
    
}

.inputcontainer .input label{
    position: absolute;
    left: 0;
    top: 6px;
    left: 6px;
    color: rgb(201, 201, 201);
    transition: 0.1s;
    padding: 0px 2px;
}

.inputcontainer .input input:focus~label,
.inputcontainer .input input:valid~label{
    font-size: 0.7em;
    font-weight: 400;
    color: rgb(40, 40, 225);
    transform: translatey(-16px);
    background-color: white;
    border-left: 1px solid rgb(40, 40, 225);
    border-right: 1px solid rgb(40, 40, 225);
    
}

.inputcontainer .input input:focus,
.inputcontainer .input input:valid{
    border: 2px solid rgb(40, 40, 225);
}




.container-card{
    display: block;
}

.container-card .card{
    border-top:1px solid gray;
    border-bottom:1px solid gray;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    width: 100%;

}  

.boton{
    margin-top: 10px;
    text-align: center;
    width: 100%;

}

.boton button{
    border-radius: 0px;
    width: 55%;

}

#gracias{
    padding: .75em;
    margin: auto;
    margin-bottom: 20px;
    background-color: white;
    width: 95%;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.5);
}

#gracias span{
    color: rgb(40, 40, 225);
}

footer{
    text-align: center;
    color: white;
    background-color: rgb(40, 40, 225);
    padding: 1em 0;
}

footer nav{
    display: flex;
    justify-content: space-evenly;
}

footer nav i{
    color: white;
    font-size: 1.5em;
}

@media (min-width: 1024px){
    
    header{
        display: flex;
        justify-content: space-between;
        background-color: rgb(65, 65, 210);
        height: 70px;
        color: white;
        box-shadow: 15px;
    }
    
    .btn-menu{
        display: none;
    }

    #menu{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
        position: static;
        transform: translateY(0);
        background-color: rgb(65, 65, 210);
        width: auto;
        opacity: 1;
        box-shadow: none;
        pointer-events: unset;
    }

    .link{
        color: white;
        text-align: center;
        position: relative;
        padding-bottom: 2px;
    }

    .link::after
    {
        content: '';
        transition: 0.3s;
        position: absolute; 
        left: 0;
        bottom: 0;
        transform: scale(0);
        width: 100%;
        height: 1.5px;
        background-color: white;
    }

    .link:hover::after{
        transform: scale(1);
        background-color: white;
        height: 2px;
    }

    .inputcontainer,.containerparte2{
        padding: 2em;
    }



    .container-card{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 15px;

    }

    .container-card .card{
        height: 150px;
        border: 2px solid gray;
        padding: 1em;
        width: 100%;
        
    
    }

}

@media (min-width:1024px){




  
}


